

<head>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{{url_for('static',filename = 'js/country.js')}}"></script>
</head>
<!-- <h2>Home Page</h2>
<p>This is the home page!</p>


<form action="/account" method="POST">
    <input type="text" name="name" id="name" placeholder="Your Name" class="form-feild"><br>
    <button type="submit" class="add-btn">See Account Page</button>
</form>
<br> -->
<!-- 
<p>Note how this page can be accesed on both '/' and '/home'. Look into app.py for more information</p> -->
<br><br><br><br><br><br><br>

<div class="row">
    <div class="col-md-6 sec1div1" id="sec1">
        <div class="sec1i">
             <div >
            <p class="lineUp" style="margin-top: -100px;">Easiest way to find job</p>
            <h1 class="lineUp" style="font-size: 50px; margin-top:10px;">Find a Job................  <br>Get your Dream True.</h1><br><br><br><br><Br><BR><BR>
            </div>
            <div>
                <input type="text" class="icon-rtl" name="searchjob" placeholder="Search the job">
                <input id="myInput" type="text" name="country" placeholder="Country">
                <button class="button" id="button">Search Now</button>
            </div>
            
        </div>
    </div>

    <div class="col-md-6 sec1div2">
        <Br><br><br>
        <img id="head-img1"  src="{{url_for('static',filename = 'images/home.png')}}" >
    </div>
</div>
<br><br><br>


<!-- <center>
    <h3>Search by</h3>
</center>
<div class="row">
    <div class="col-md-2">
        
    </div>
</div> -->


<div class="row r3">
    <div class="col-md-6 img1">
        <img id="head-img2" src="{{url_for('static',filename = 'images/business.jpg')}}" >     
    </div>
    <div class="col-md-6 r3col2">
        
    </div>
</div>
<div class="row subr3" bgcolor="white">
            <div class="col-md-2 imgcol2">
            </div>
            <div class="col-md-2 imgcol2">
            </div>
            <div class="col-md-2 imgcol2">
            </div>
        </div>





                              <!------------------------SECTION 2---------------------------------------------->
<div class="bacr2">
<center>
    <h5 class="tp">Browse by Top Categories</h5><hr width="100px">
</center>

<div class="row r2">
    <div class="col-md-2 r2col1" id="r2col1">
        <center>
        <div class="r2col1i">
            <i class="fa fa-server" aria-hidden="true"></i>
           <h6>Design</h6>
        </div>
        <center>
    </div>
    <div class="col-md-2 r2col1" id="r2col1">
        <center>
        <div class="r2col1i">
            <i class="fa fa-compass" aria-hidden="true"></i>
           <h6>Architect</h6>
        </div>
        <center>
    </div>
    <div class="col-md-2 r2col1" id="r2col1">
        <center>
        <div class="r2col1i">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
           <h6>Education</h6>
        </div>
        <center>
    </div>
    <div class="col-md-2 r2col1" id="r2col1">
        <center>
        <div class="r2col1i">
            <i class="fa fa-stethoscope" aria-hidden="true"></i>
           <h6>Health</h6>
        </div>
        <center>
    </div>
    <div class="col-md-2 r2col1" id="r2col1">
        <center>
        <div class="r2col1i">
            <i class="fa fa-rss" aria-hidden="true"></i>
           <h6>Networking</h6>
        </div>
        <center>
    </div>
    <div class="col-md-2 r2col1" id="r2col1" >
        <center>
        <div class="r2
